   
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
  }
  
  .shopping-cart-total {
    float: right;
  }
    
  .shopping-cart-items {
    padding-top: 20px;
  }
  
  img {
    float: left;
    margin-right: 12px;
  }
      
  .item-name {
  }
      
  .item-price {
    color:steelblue;
  }
      
  .item-quantity {
    color: black;
  }
  
  .shopping-cart:after {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: white;
      border-width: 8px;
      margin-left: -8px;
  }
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }

  .trash-icon{
    font-size: 1.5rem;
    color: rgb(223, 14, 14);
  }

  .item-total{
    color: #6394F8;
  }