/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    font: 14px/22px "Lato", Arial, sans-serif;
    background: #6394F8;
  }
  
  .lighter-text {
    color: #ABB0BE;
  }
  
  .main-color-text {
    color: red;
  }
  
  .badge {
      background-color: #6394F8;
      border-radius: 10px;
      color: white;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 3px 7px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
  }
/* Aplicación de animación a bote de basura */
  .trash-icon:hover{
    animation-duration: 0.5s;
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
/* Animación de agitar */
  @keyframes shake {
    from {
      transform: rotate(-20deg);
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
    }
  
    to {
      transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      -o-transform: rotate(20deg);
    }
  }

  .cart-button{
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}
/* Efecto para el botón de agregar o quitar del carrito */
  .cart-button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}